* {
  box-sizing: border-box;
  /* front-family: "figtree" */
}

body {
  margin: 0;
}

html {
  color: whitesmoke;
  scroll-behavior: smooth;
}

header {
  background-color: #0A222C;
  color: white;
  gap: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

header img {
  height: 200px;
  width: 350px;
}

body {
  background-color: #071820;
  height: 100px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images_size {
  width: 220px;
  height: 255px;
  object-fit: cover;
  object-position: center;
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.images_size:hover {
  transform: scale(1.1);
}

/* the Overlay = the Dialog */

dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-hidden {
  display: none;
}

.overlay-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0A222C;
}

.overlay-box img {
  height: 500px;
  width: auto;
}

.buttons-content {
  padding: 10px;
}

.dialog-close-button {
  align-self: flex-end;
}

.under-the-photo-section {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 500px;
  color: white;
  background-color: white;
  background-color: transparent;
}

.under-the-photo-section:hover {
  background-color: #5D8999;
}

/* .both-arrow-buttons {
} */

/* .arrow-left {
} */

/* .arrow-right {
} */

/* .overlay-image-name {
} */

/* the Footer */

footer {
  background-color: #0A222C;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  display: flex;
  justify-content: center;
  align-content: center;
}